
/* NAVBAR */

#navbar {
	background-color: var(--surface2);
	border-bottom-color: var(--surface3);
	grid-area: main-header;
	border-bottom: 1px solid #dee2e6;
	flex-wrap: nowrap;
	justify-content: flex-start;
	position: relative;
	display: flex;
	align-items: center;
	padding: .5rem 0;
}

#navbar nav {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	vertical-align: baseline;
	justify-content: space-between;
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
}

#navbar nav svg{
	position:relative;
	top: 3px;
	right: 4px;
}

#navbar .theme-switcher label {
  cursor: pointer;
  display: inline-block;
  align-items: center;
  gap: 8px;
}

#navbar li > h3 {
	color: var(--text1);
	margin: 0;
	padding: 0 1.5em;
	font-size: 1.4rem;
}

#navbar a:hover {
	color: var(--text2);
   text-decoration: none;
   background-color: transparent;
}

/* SVG */

#navbar .radio-container {
  display: inline-block;
  margin-top: 4px;
}

#navbar .custom-radio {
  display: none; /* Ocultamos el radio button original */
}


#navbar .checked {
  display: none; /* Por defecto, ocultamos el SVG del estado checked */
}


#navbar .custom-radio:checked + label .checked {
  display: block; /* Cuando el radio está seleccionado */
}

#navbar .custom-radio:checked + label .unchecked {
  display: none;
}


/* Botones izquierdos */

.navbar-nav {
	flex-direction: row;
	display: flex;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-link {
	color: var(--text1);
	margin: 0 1rem;
	position: relative;
	height: 2.5rem;
	cursor: pointer;
}

.ms-auto { /* Botones derechos */
	margin-left: auto;
}

.ms-auto b {
	padding: 0 1rem;
	cursor: default;
}

/* BANNER */

#banner {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 95vh;
	height: 95vh;
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3)), 
					  url(../img/jpg/banner.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

#banner .inner {
	transform: none;
	position: relative;
	opacity: 1;
	padding: 0 2em;
}

#banner h2 {
	font-size: 4em;
	line-height: 1em;
	margin: 0 0 0.5em 0;
	padding: 0;
	color: var(--text1);
}
#banner p {
	font-size: 1.5em;
	margin: 0 0 2em 0;
	margin-bottom: 1.75em;
	max-inline-size: 53ch;
	color: var(--text2);
}

/* HERO */

#hero {
	padding: 8em 0 6em 0;
	color: var(--text1);
	text-align: center;
}

#hero h2 {
	border-style: double solid;
	border-width: 4px 1px;
	font-weight: 400;
	font-size: 2.4em;
	line-height: 1.35em;
	margin: 0 auto 1em;
	padding: 1.1em;
	position: relative;
	width: 40%;
}

#hero strong {
	font-weight: 700;
}

#hero p {
	margin: auto;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 300;
}

#hero ul {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin: 2em 0;
}

#hero li {
	display: inline-block;
	padding: 1em;
	vertical-align: middle;
}

#hero button {
	background-color: hsl(200 50 20);
	border-radius: .1em;
	border-top-color: hsl(200 50 33);
	border-left-color: hsl(200 50 33);
	color: #DDD;
	cursor: pointer;
	height: 2.85em;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;

	font-family: 'Lato', 'Helvetica Neue', sans-serif;
	display: block;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.5;
}

/* GALLERY */

#gallery {
	background-color: var(--surface1);
	padding: 4rem 0;
}

#gallery .container {
	display: grid;
	grid-template-columns: 350px 200px;
	gap: 2ch;
	padding-right: 200px;
}

#gallery img {
	border-radius: 1em;
}

#gallery .text {
	display: grid;
	gap: 1.5ch;

	& > h1 {
		font-size: 2rem;
		display: inline-flex;
		align-items: center;
	}
}

#gallery p {
	max-inline-size: 45ch;
	font-size: 1.1rem;
	line-height: 1.5;
}

#gallery span {
	margin-right: 1em;
}

/* PROJECTS NEW / EDIT */

#projects-new {
	width: 90%;
	margin: 0 auto;
}

#projects-new h2 {
	text-align: center;
	font-weight: 300;
	font-size: 2.5rem;
	margin: 0;
	padding-top: 20px;
}

#projects-new .wrapper {
	padding-top: 20px;
	padding-bottom: 60px;
}

#projects-new form {
	padding: 14px;
	line-height: 2.2rem;
}

#projects-new .grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	justify-items: center;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: auto;
}

#projects-new fieldset {
	width: 80%;
	padding: 6px;
	font-size: 1rem;	
}

#projects-new legend {
	font-weight:500;
	font-size: 1.3rem;
}

#projects-new label {
	color: var(--text1);
	font-size: 1.1rem;
}

#projects-new figure {
	margin: 0;
}

#projects-new fieldset input, #projects-new fieldset textarea, #projects-new fieldset select, #projects-new fieldset button {
	width: 100%;
	border: .5px solid var(--text2);
	background-color: var(--surface3);
}

#projects-new fieldset textarea {
	resize: vertical;
	height: 70px;
}

#projects-new fieldset input, #projects-new select {
	color: #DDD;
	font-size: 1rem;
	line-height: 1.5;
	height: 2.85rem;
	padding: 0 15px;
}

#projects-new .form-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--text1);
	border-radius: 0.2rem;
	text-align: center;	
}

#projects-new .form-buttons > input, #projects-new .form-buttons > button {
	width: 180px;
	height: 60px;
	margin: 20px;
	font-size: 1rem;
	background-color: hsl(200 50 20);
	border-radius: .1em;
	border-color: transparent;
	border-top-color: hsl(200 50 33);
	border-left-color: hsl(200 50 33);
	cursor: pointer;    
}

#projects-list {
	min-height: 69vh;
	background-color: var(--surface3);
	color: var(--text1);
}

#projects-list .container {
	padding:20px 0;
	max-width: 95%;
	line-height: 1.15;
}

/* Table */

#projects-list table {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding: 6px 0 6px 10px;
}

#projects-list th {
	padding: 6px 0 6px 10px;
}

#projects-list button {
	background-color: var(--surface4);
	
}

#projects-list .button-group {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#projects-list .button-group button {
	background-color: var(--brand);
	border: 1px solid var(--surface4);
	text-wrap: nowrap;
	vertical-align: middle;
	border-radius: 5px;
	cursor: pointer;
	margin: 4px;
}

/* FOOTER */

#footer {
	background: #0d1217;
}

#footer p {
	margin: 1rem auto;
	padding-top: 2rem;
	font-size: .8rem;
	max-inline-size: 80vw;
}