/* GENERAL */

body {
	color: var(--text1);
	text-align: left;
	background-color: var(--surface3);
}

/* PROJECTS LIST SEARCH */

#proj-search {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-content: baseline;
}

#proj-search h3 {
	padding: 15px 30px;
	color: var(--text1);
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.2;
}

#proj-search .search-container {
	padding: 15px 40px;
}

#proj-search input {
	width: 250px;
	padding: 10px;
	border-radius: 5px 0 0 5px;
	border: 1px solid var(--text1);
	color: var(--text2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
	font-size: inherit;
	line-height: inherit;
	background-color: var(--surface4);;
}

#proj-search .search-container button {
	padding: 10px;
	border: 1px solid var(--text1);
	border-left: none;
	background-color: #007bff;
	color: white;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 1em;
	line-height: inherit;
}

#proj-search .search-container button:hover {
	background-color: #0056b3;
}

/* PROJECTS/INVESTMENT TABLE */

#tbl-container {
	display: block;
	min-height: 70vh;
	padding-bottom: 80px;
}

#proj-table {
	width: 90%;
	margin: auto;

	table-layout: auto;
	border: 1px solid #dee2e6;
	background-color: transparent;
	border-collapse: collapse;
}

#proj-table thead {
	display: table-header-group;
	vertical-align: middle;
	unicode-bidi: isolate;
	border-color: inherit;
}

#proj-table tr {
	display: table-row;
	vertical-align: inherit;
	unicode-bidi: isolate;
	border-color: inherit;
}

#proj-table thead th {
	border-bottom: 2px solid #dee2e6;
	vertical-align: middle;
	unicode-bidi: isolate;
	border-color: inherit;
}

#proj-table tbody tr:nth-of-type(odd) {
	background-color: #dee2e615;
}

#proj-table th, #proj-table td {
	padding: 10px;
	text-align: center;
	border: 1px solid #dee2e6;
}

#proj-table .button-group {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#proj-table button, #proj-table .badge,
#proj-table .btn-success, #proj-table .btn-warning {
	width: 105px;
	color: #FDFDFD;
	cursor: pointer;
	margin: 5px;
	padding: 10px;
	border: 1px solid var(--text1);
	border-radius: 4px;
	font-size: .875rem;
	line-height: 1.5;

	display: inline-block;
	font-weight: 400;
	text-align: baseline;
	white-space: nowrap;
	vertical-align: middle;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Buttons color */

#proj-table button {
	background-color: var(--brand);
}

#proj-table .badge {
	background-color: var(--btn-red);
}

#proj-table .button-group .btn-success {
	background-color: var(--btn-green);
}

#proj-table .button-group .btn-warning {
	background-color: var(--btn-orange);
}

#proj-table .button-group button:hover {
	background-color: oklab(from var(--brand) calc(l + 0.1) a b);
}

#proj-table .button-group .badge:hover {
	background-color: oklab(from var(--btn-red) calc(l + 0.1) a b);
}

#proj-table .button-group .btn-success:hover {
	background-color: oklab(from var(--btn-green) calc(l + 0.1) a b);
}

#proj-table .button-group .btn-warning:hover {
	background-color: oklab(from var(--btn-orange) calc(l + 0.1) a b);
}

/* CREAR MI PROYECTO */

.create-project-btn {
	margin: 20px;
	padding-left: 40px;
	cursor: pointer;
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* CREAR INVERSIÓN */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
	background-color: var(--surface4);
	padding: 20px;
	border: 1px solid #888;
	width: 30%;
	max-width: 350px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal .close-button {
	color: var(--text2);
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal .close-button:hover,
.modal .close-button:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


.modal form{
	display: inline-flex;
	flex-direction: column;
}

.modal .form-group {
	display: block;
	margin-bottom: 15px;
}

.modal .form-group label {
	display: block;
	margin-bottom: 5px;
}

.modal .form-group input {
	width: 300px;
	padding: 8px;
	line-height: 1.2rem;
	box-sizing: border-box;
}

.modal .button-group {
	display: flex;
	justify-content: space-between;
}

.modal .button-group button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.modal .button-group button[type="submit"] {
	background-color: var(--brand);
	color: white;
}

.modal .button-group button[type="submit"]:hover {
	background-color: oklab(from var(--brand) calc(l + 0.1) a b);
	color: var(--text2);
}

.modal .button-group button[type="button"] {
	background-color: var(--btn-red);
	color: white;
}

.modal .button-group button[type="button"]:hover {
	background-color: oklab(from var(--btn-red) calc(l + 0.1) a b);
	color: var(--text2);
}

/* CREAR PROYECTO */

#projectModal {
	display: none;
	position: fixed;
	z-index: 1050;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);

	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	overflow: hidden;
	outline: 0;
}

#projectModal .modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--surface4);
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .3rem;

	margin: 5% auto;
	padding: 20px;
	border-radius: 8px;
	max-width: 600px;
	max-height: 90vh;
	overflow-y: auto;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#projectModal .close {
	cursor: pointer;
	pointer-events: auto;
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

#projectModal h2 {
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
}

#projectModal form {
	display: block;
}

#projectModal .form-group {
	display: block;
	margin-bottom: 15px;
}

#projectModal .form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: 500;
}

#projectModal .form-group input #projectModal .form-group select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	font-size: 1rem;
	background-color: var(--surface3);
}

#projectModal .form-group textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	font-size: 1rem;
	background-color: var(--surface3);
}

#projectModal select {
	padding: 10px;
	font-size: 1rem;
	color: var(--text1);
	background-color: var(--surface3);
}

#projectModal button, #cancelModal button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--brand);
	color: white;
}

#projectModal button:hover, #cancelModal button:hover {
	background-color: oklab(from var(--brand) calc(l + 0.1) a b);
	color: var(--text2);
}

/* MODAL CANCELAR PROYECTO */

#cancelModal {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    width: 100%;
    height: 100%;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

#cancelModal .modal-content {
	position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #DDD;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;

    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: var(--box-shadow);
    margin: 5% auto;
    padding: 20px;
}

#cancelModal .modal-content h2 {
	font-size: 2rem;
	margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
    display: block;
    pointer-events: auto;

    margin-top: 0;
    margin-bottom: 1rem;
}

#cancelModal .modal-content p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#cancelModal #confirmButton {
    padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--btn-red);
	color: white;
}

#cancelModal #confirmButton:hover {
	background-color: oklab(from var(--btn-red) calc(l + 0.1) a b);
	color: var(--text2);
}